*.pyo
*.pyc
__pycache__
meta.json
*.sublime-project
*.sublime-workspace
.idea
.vscode
.hidden
.directory
.gitold
.sublime-backup
obsolete
research
docs/specs.md
docs/todo.md
docs/description.html
tools/test.py
custom_text_backup/forms*
custom-text-backup-*.zip
